@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$medias: (992, 768, 480, 360, 320);
body,
html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.fw-100{
  font-weight: 100 !important;
}

.fw-300{
  font-weight: 300 !important;
}


.fw-400{
  font-weight: 400 !important;
}


.bold{
  font-weight: 700 !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-control {
  border: none;
  display: block;
  font-size: 20px;
  width: 100%;
  height: 35px;
  font-weight: 100 !important;
  background-color: #fff !important;
  border-bottom: 1px solid #ddd;
  &:focus {
    outline: none;
    border-bottom: 1px solid #007aff;
  }
}

.btn {
  border: none;
  display: block;
  font-size: 18px;
  font-weight: 100;
  padding: 13px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease all 0.5s;
}

.btn-primary {
  background-color: #007aff;
  border: 1px solid #007aff;
  color: #fff;
  border-radius: 25px;

  &:hover {
    background-color: #fff;
    color: #007aff;
    border: 1px solid #007aff;
    transition: ease all 0.5s;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.hidden {
  display: none !important;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }

  .visible-tablet {
    display: inherit !important;
  }

  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }

  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: inherit !important;
  }

  .hidden-print {
    display: none !important;
  }
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}

.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

.c-white {
  color: #fff !important;
}

.c-black {
  color: #000 !important;
}

.c-red {
  color: #f00 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-gray {
  background-color: #f7f7f7 !important;
}

.bg-size-cover {
  background-size: cover !important;
}

.bg-size-contain {
  background-size: contain !important;
}

.bg-size-auto {
  background-size: auto !important;
}

.bg-position-center {
  background-position: center !important;
}

.bg-position-bottom {
  background-position: bottom !important;
}

.bg-position-left {
  background-position: left !important;
}

.bg-position-right {
  background-position: right !important;
}

.bg-position-top {
  background-position: top !important;
}

.bg-position-inherit {
  background-position: inherit !important;
}

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-repeat {
  background-repeat: repeat !important;
}

.bg-repeat-x {
  background-repeat: repeat-x !important;
}

.bg-repeat-y {
  background-repeat: repeat-y !important;
}

.shadow {
  -webkit-box-shadow: 1px 5px 16px -2px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px 5px 16px -2px rgba(0, 0, 0, 0.62);
  box-shadow: 1px 5px 16px -2px rgba(0, 0, 0, 0.62);
}

.pointer {
  cursor: pointer !important;
  outline: none !important;
}

.pointer:focus,
.pointer:active {
  outline: none !important;
}

.underline {
  text-decoration: underline !important;
}

.decoration-none {
  text-decoration: none !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.t-center {
  text-align: center !important;
}

.t-right {
  text-align: right !important;
}

.t-left {
  text-align: left !important;
}

.t-justify {
  text-align: justify !important;
}

$i: 10;
@while $i <= 300 {
  .lh-#{$i} {
    line-height: percentage($i/100) !important;
  }
  $i: $i + 5;
}

.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

.d-inherit {
  display: inherit !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.flex-row {
  flex-direction: row !important;
  -webkit-flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
  -webkit-flex-direction: row-reverse !important;
}

.flex-column {
  flex-direction: column !important;
  -webkit-flex-direction: column !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
  -webkit-flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
  -webkit-flex-wrap: wrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
  -webkit-flex-wrap: wrap-reverse !important;
}

.flex-no-wrap {
  flex-wrap: nowrap !important;
  -webkit-flex-wrap: nowrap !important;
}

.flex-wrap-inherit {
  flex-wrap: inherit !important;
  -webkit-flex-wrap: inherit !important;
}

.jc-center {
  justify-content: center !important;
  -webkit-justify-content: center !important;
}

.jc-start {
  justify-content: flex-start !important;
  -webkit-justify-content: flex-start !important;
}

.jc-end {
  justify-content: flex-end !important;
  -webkit-justify-content: flex-end !important;
}

.jc-space-between {
  justify-content: space-between !important;
  -webkit-justify-content: space-between !important;
}

.jc-space-around {
  justify-content: space-around !important;
  -webkit-justify-content: space-around !important;
}

.ai-center {
  align-items: center !important;
  -webkit-align-items: center !important;
}

.ai-start {
  align-items: flex-start !important;
  -webkit-align-items: flex-start !important;
}

.ai-end {
  align-items: flex-end !important;
  -webkit-align-items: flex-end !important;
}

.ai-stretch {
  align-items: stretch !important;
  -webkit-align-items: stretch !important;
}

.ai-inherit {
  align-items: inherit !important;
  -webkit-align-items: inherit !important;
}

.ai-baseline {
  align-items: baseline !important;
  -webkit-align-items: baseline !important;
}

.border-none {
  border: none !important;
}

/*position*/
.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}

.inherit {
  position: inherit !important;
}

.static {
  position: static !important;
}

/*fin position*/

/*inicio flex i*/
@for $i from 1 through 10 {
  .flex-#{$i} {
    flex: #{$i} !important;
  }
}

/*fin flex i*/

/* tamaño de fuente desde 5px hasta 30px*/
@for $i from 5 through 50 {
  .f-#{$i} {
    font-size: #{$i}px !important;
  }
}

/* fin tamaño de fuente desde 5px hasta 30px*/

/* tamaño de fuente desde 35px hasta 100px*/
$i: 55;
@while $i <= 100 {
  $i: $i + 5;
  .f-#{$i} {
    font-size: #{$i}px !important;
  }
}

/*inicio width en %*/
$i: 0;
@while $i <= 100 {
  .w-#{$i} {
    width: percentage($i/100) !important;
  }
  $i: $i + 5;
}

/*fin width en %*/

/* inicio paddings y margins*/
.ma-auto {
  margin: auto !important;
}

.ma-right-auto {
  margin-right: auto !important;
}

.ma-left-auto {
  margin-left: auto !important;
}

.ma-top-auto {
  margin-top: auto !important;
}

.ma-bottom-auto {
  margin-bottom: auto !important;
}

$i: 0;
@while $i <= 300 {
  .pa-#{$i} {
    padding: #{$i}px !important;
  }
  .pa-top-#{$i} {
    padding-top: #{$i}px !important;
  }
  .pa-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pa-left-#{$i} {
    padding-left: #{$i}px !important;
  }
  .pa-right-#{$i} {
    padding-right: #{$i}px !important;
  }
  .pa-hor-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
  .pa-ver-#{$i} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
  .ma-#{$i} {
    margin: #{$i}px !important;
  }
  .ma-top-#{$i} {
    margin-top: #{$i}px !important;
  }
  .ma-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ma-left-#{$i} {
    margin-left: #{$i}px !important;
  }
  .ma-right-#{$i} {
    margin-right: #{$i}px !important;
  }
  .ma-hor-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  .ma-ver-#{$i} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
  $i: $i + 5;
}

$i: 0;
@while $i <= 300 {
  .top-#{$i} {
    top: #{$i}px !important;
  }
  .bottom-#{$i} {
    bottom: #{$i}px !important;
  }
  .left-#{$i} {
    left: #{$i}px !important;
  }
  .right-#{$i} {
    right: #{$i}px !important;
  }

  $i: $i + 5;
}

/* fin paddings y margins*/

@each $media in $medias {
  @media (max-width: #{$media}px) {
    .border-none-#{$media} {
      border: none !important;
    }

    /* inicio alineacion de textos*/
    .t-center-#{$media} {
      text-align: center !important;
    }
    .t-right-#{$media} {
      text-align: right !important;
    }
    .t-left-#{$media} {
      text-align: left !important;
    }
    .t-justify-#{$media} {
      text-align: justify !important;
    }

    /* fin alineacion de textos*/

    $i: 10;
    @while $i <= 300 {
      .lh-#{$i}-#{$media} {
        line-height: percentage($i/100) !important;
      }
      $i: $i + 5;
    }

    /* inicio tamaño de fuente desde 5px hasta 50px --  #{$media}px */
    @for $i from 5 through 50 {
      .f-#{$i}-#{$media} {
        font-size: #{$i}px !important;
      }
    }

    /* fin tamaño de fuente desde 5px hasta 30px  --  #{$media}px */

    /* inicio tamaño de fuente desde 35px hasta 100px  --  #{$media}px */
    $i: 50;
    @while $i <= 300 {
      $i: $i + 5;
      .f-#{$i}-#{$media} {
        font-size: #{$i}px !important;
      }
    }
    /* fin tamaño de fuente desde 5px hasta 30px  --  #{$media}px */

    /*inicio width en %*/
    $i: 0;
    @while $i <= 100 {
      .w-#{$i}-#{$media} {
        width: percentage($i/100) !important;
      }
      $i: $i + 5;
    }

    /*fin width en %*/

    /*inicio margenes y paddings*/
    .ma-auto-#{$media} {
      margin: auto !important;
    }

    .ma-right-auto-#{$media} {
      margin-right: auto !important;
    }

    .ma-left-auto-#{$media} {
      margin-left: auto !important;
    }
    .ma-top-auto-#{$media} {
      margin-top: auto !important;
    }

    .ma-bottom-auto-#{$media} {
      margin-bottom: auto !important;
    }

    $i: 0;
    @while $i <= 300 {
      .pa-#{$i}-#{$media} {
        padding: #{$i}px !important;
      }
      .pa-top-#{$i}-#{$media} {
        padding-top: #{$i}px !important;
      }
      .pa-bottom-#{$i}-#{$media} {
        padding-bottom: #{$i}px !important;
      }
      .pa-left-#{$i}-#{$media} {
        padding-left: #{$i}px !important;
      }
      .pa-right-#{$i}-#{$media} {
        padding-right: #{$i}px !important;
      }
      .pa-hor-#{$i}-#{$media} {
        padding-left: #{$i}px !important;
        padding-right: #{$i}px !important;
      }
      .pa-ver-#{$i}-#{$media} {
        padding-top: #{$i}px !important;
        padding-bottom: #{$i}px !important;
      }
      .ma-#{$i}-#{$media} {
        margin: #{$i}px !important;
      }
      .ma-top-#{$i}-#{$media} {
        margin-top: #{$i}px !important;
      }
      .ma-bottom-#{$i}-#{$media} {
        margin-bottom: #{$i}px !important;
      }
      .ma-left-#{$i}-#{$media} {
        margin-left: #{$i}px !important;
      }
      .ma-right-#{$i}-#{$media} {
        margin-right: #{$i}px !important;
      }
      .ma-hor-#{$i}-#{$media} {
        margin-left: #{$i}px !important;
        margin-right: #{$i}px !important;
      }
      .ma-ver-#{$i}-#{$media} {
        margin-top: #{$i}px !important;
        margin-bottom: #{$i}px !important;
      }
      $i: $i + 5;
    }

    /*position*/
    .absolute-#{$media} {
      position: absolute !important;
    }

    .relative-#{$media} {
      position: relative !important;
    }

    .fixed-#{$media} {
      position: fixed !important;
    }
    .inherit-#{$media} {
      position: inherit !important;
    }

    .static-#{$media} {
      position: static !important;
    }
    /*fin position*/

    /*flexbox*/
    .d-flex-#{$media} {
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: flex !important;
    }

    .d-block-#{$media} {
      display: block !important;
    }

    .d-none-#{$media} {
      display: none !important;
    }

    .d-inline-block-#{$media} {
      display: inline-block !important;
    }

    .flex-row-#{$media} {
      flex-direction: row !important;
      -webkit-flex-direction: row !important;
    }

    .flex-row-reverse-#{$media} {
      flex-direction: row-reverse !important;
      -webkit-flex-direction: row-reverse !important;
    }

    .flex-column-#{$media} {
      flex-direction: column !important;
      -webkit-flex-direction: column !important;
    }

    .flex-column-reverse-#{$media} {
      flex-direction: column-reverse !important;
      -webkit-flex-direction: column-reverse !important;
    }

    .flex-wrap-#{$media} {
      flex-wrap: wrap !important;
      -webkit-flex-wrap: wrap !important;
    }

    .flex-wrap-reverse-#{$media} {
      flex-wrap: wrap-reverse !important;
      -webkit-flex-wrap: wrap-reverse !important;
    }

    .flex-no-wrap-#{$media} {
      flex-wrap: nowrap !important;
      -webkit-flex-wrap: nowrap !important;
    }

    .flex-wrap-inherit-#{$media} {
      flex-wrap: inherit !important;
      -webkit-flex-wrap: inherit !important;
    }

    .jc-center-#{$media} {
      justify-content: center !important;
      -webkit-justify-content: center !important;
    }

    .jc-start-#{$media} {
      justify-content: flex-start !important;
      -webkit-justify-content: flex-start !important;
    }

    .jc-end-#{$media} {
      justify-content: flex-end !important;
      -webkit-justify-content: flex-end !important;
    }

    .jc-space-between-#{$media} {
      justify-content: space-between !important;
      -webkit-justify-content: space-between !important;
    }

    .jc-space-around-#{$media} {
      justify-content: space-around !important;
      -webkit-justify-content: space-around !important;
    }

    .ai-center-#{$media} {
      align-items: center !important;
      -webkit-align-items: center !important;
    }

    .ai-start-#{$media} {
      align-items: flex-start !important;
      -webkit-align-items: flex-start !important;
    }

    .ai-end-#{$media} {
      align-items: flex-end !important;
      -webkit-align-items: flex-end !important;
    }

    .ai-stretch-#{$media} {
      align-items: stretch !important;
      -webkit-align-items: stretch !important;
    }

    .ai-inherit-#{$media} {
      align-items: inherit !important;
      -webkit-align-items: inherit !important;
    }

    .ai-baseline-#{$media} {
      align-items: baseline !important;
      -webkit-align-items: baseline !important;
    }

    /*fin flexbox*/

    /*inicio flex i*/
    @for $i from 1 through 10 {
      .flex-#{$i}-#{$media} {
        flex: #{$i} !important;
      }
    }

    /*fin flex i*/

    $i: 0;
    @while $i <= 300 {
      .top-#{$i}-#{$media} {
        top: #{$i}px !important;
      }
      .bottom-#{$i}-#{$media} {
        bottom: #{$i}px !important;
      }
      .left-#{$i}-#{$media} {
        left: #{$i}px !important;
      }
      .right-#{$i}-#{$media} {
        right: #{$i}px !important;
      }

      $i: $i + 5;
    }
  }
}
